<h2>Crear Usuario</h2>
<form [formGroup]="form">
  <mat-form-field>
    <mat-label>Nombre Cliente</mat-label>
    <input matInput formControlName="nombreCliente" placeholder="Nombre Cliente">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido Cliente</mat-label>
    <input matInput formControlName="apellidoCliente" placeholder="Apellido Cliente">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Celular Cliente</mat-label>
    <input matInput formControlName="celularCliente" placeholder="Celular Cliente">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Correo Cliente</mat-label>
    <input matInput formControlName="correoCliente" placeholder="Correo Cliente">
  </mat-form-field>
</form>
