<mat-table [dataSource]="dataSource">
  <!-- Columnas -->
  <ng-container matColumnDef="idVenta">
    <mat-header-cell *matHeaderCellDef> ID Venta </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.idVenta}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fechaVenta">
    <mat-header-cell *matHeaderCellDef> Fecha de Venta </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.fechaVenta}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="descripcionVentas">
    <mat-header-cell *matHeaderCellDef> Descripción Venta </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.descripcionVentas}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="idCliente">
    <mat-header-cell *matHeaderCellDef> Id Cliente </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.idCliente}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Filas -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSizeOptions]="[1, 2, 30]" showFirstLastButtons></mat-paginator>
