<mat-table [dataSource]="dataSource">
  <!-- Columnas -->
  <ng-container matColumnDef="idProducto">
    <mat-header-cell *matHeaderCellDef> ID Producto </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.idProducto}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="nombreProducto">
    <mat-header-cell *matHeaderCellDef> Nombre Producto </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nombreProducto}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="precioUnitario">
    <mat-header-cell *matHeaderCellDef> Precio Unitario </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.precioUnitario}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cantidadStock">
    <mat-header-cell *matHeaderCellDef> Cantidad Disponible </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cantidadStock}} </mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="openDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <!-- Filas -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator #paginator [pageSizeOptions]="[1, 2, 30]" showFirstLastButtons></mat-paginator>
