mat-form-field {
  width: 50%;
  max-width: 300px;
  flex: 1 0 45%;
  margin: 10px;
}

h2 {
  text-align: center;
}

hr {
  width: 800px;
  border-color: blue;
  margin: auto;
  display: block;
}

mat-raised-button {
  margin-top: 16px;
}

.mat-mdc-dialog-surface.mdc-dialog__surface {
  width: 641px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  background-color: #f5f5f5;
}

.mat-form-field-appearance-outline .mat-form-field-underline {
  background-color: #f5f5f5;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

button[mat-raised-button] {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  margin-left: 20px;
}
